[2017-02-16 13:48] ldcouto commented on #158
From what Kenneth is saying in #155, there may actually be a problem with the 20-sim model. See

[2017-02-16 16:03] #204 closed

[2017-02-16 19:02] mpcagro commented on #150
Hi @lausdahl

We Should have discussed this one of the time I was by your office.
I can accept your solution, so a variable can be init to some other value than 0.

I think the challenge here was the time value and when it is zero for an DE controller FMU.
I get there is a init phase and that time is running so you have a zero step.

But all of this got me to think a bit more about the challenge a

[2017-02-17 10:17] lausdahl commented on #150
With the change I propose you can change the initial value that the controller will have as output until it have calculated and set a new value. If you need to coordinate different controllers then I think you need to add something model specific to handle this.

[2017-02-17 11:36] #150 closed

[2017-02-17 15:17] ldcouto opened #221 "App needs to run on C: drive"
This is the oddest one yet.

If I have the app in the D: drive and start it, nothing happens. You get the spinning thing next to your mouse for a while and then it disappears but the app never loads.

Starting from the command line also dies silently.

[code]

This could be some weird permission on my end, but I'd like someone else to test this. @CThuleHansen , do you have 2 disks?

[2017-02-17 21:36] mpcagro commented on #150
Your answer makes no sense at all ??? But I you just need to close the ticket, it is fine with me ;-)

[2017-02-19 08:39] CThuleHansen commented on #221
Hmm no, but i'll give it a go on a USB drive on Monday.

[2017-02-20 09:07] CThuleHansen commented on #221
Just tried it on a USB drive, and it runs fine.
However @lausdahl is experiencing issues running it on a mapped network drive.

[2017-02-20 09:29] ldcouto commented on #221
That's probably it.

Our D: drive is actually a mapped drive to a folder in C:

I don't particularly care to investigate this. We can just update the release notes or something.

[2017-02-20 19:09] lausdahl commented on #190
why was this first closed then reopened? the commit is in master?

[2017-02-20 19:44] #190 closed

[2017-02-20 19:45] CThuleHansen commented on #190
Because of jenkins build failure that was actually not caused by this commit. But reverted immediately to attempt to fix it fast, with no luck, because it was something else.
But it is closed now :)

[2017-02-21 08:04] lausdahl commented on #34
yes already in master

[2017-02-21 08:05] lausdahl commented on #193
I dont think I can do anything more with this as is

[2017-02-21 08:41] ldcouto commented on #34
Cool.

[2017-02-21 08:41] #34 closed

[2017-02-21 08:42] ldcouto commented on #193
Alright. I am closing this. @astefano , please reopen or don't hesitate to create a new issue if you are still experiencing problems.

[2017-02-21 09:17] ldcouto commented on #221
Updated release notes template to mention this limitation.

[2017-02-21 09:17] #221 closed

[2017-02-21 10:01] CThuleHansen commented on #203
This issue is really difficult to fix without proper debugging

[2017-02-21 10:14] ldcouto opened #223 "Debugger not working"
For some app views (such as co-sim) the debugger does not work. We can set brekapoints but the execution doesn't actually suspend.

[2017-02-21 10:14] ldcouto commented on #203
Yeah. I've created #223 for that

[2017-02-21 10:41] ldcouto commented on #223
This is very closely coupled to #203

If we run the packaged app, the debugger will run fine. There is some weirdness going on when we run from npm start.

[2017-02-21 10:43] CThuleHansen commented on #223
Are different versions used for packaging and jsut running?

[2017-02-21 10:49] ldcouto commented on #223
Our versions:
[code]

[2017-02-21 10:50] ldcouto commented on #223
Packager uses electron 1.2.1 for packaging.

[code]

[2017-02-21 11:10] CThuleHansen commented on #223
Works fine without source maps and just regular debugging with js

[2017-02-21 11:11] ldcouto commented on #223
Via npm start?

[2017-02-21 11:12] CThuleHansen commented on #223
Disabled uglify

[code]

and did npm start
and in the app debugger I disabled sourcemaps in settings
http://stackoverflow.com/questions/35002087/how-do-you-disable-source-maps-in-chrome-developer-tools

[2017-02-21 11:53] CThuleHansen commented on #223
Maybe it is because of the uglify in general?

[2017-02-21 11:53] CThuleHansen commented on #223
and we should only uglify when packaing

[2017-02-21 11:56] ldcouto commented on #223
Can confirm it's uglify. I managed to debug with TS by having uglify disabled.

The problem is that we only have 1 build task which is used to build the debug and packaged version of the app.

I'll need to rework the gulpfile a little so we have a build task for debug and one for packaging. In the meantime, I will disable uglify to restore the debugging.

[2017-02-21 12:01] CThuleHansen commented on #223
Cool

[2017-02-21 13:25] #223 closed

[2017-02-21 13:27] gmeisl-twt commented on #202
After a hint by Kenneth we found an error in our FMU.
So there only remains the question whether the error message can be adapted, so that it becomes apparent when a COE-crash is caused by an erroneous FMU?

Thanks
Gerd

[2017-02-21 13:28] ldcouto commented on #223
Done

Jenkins job needs to be updated. The new package task automatically cleans the repo and runs the uglified build (no need for explicitly calling gulp build)

[2017-02-21 13:32] ldcouto commented on #202
Not sure. @lausdahl , is this feasible?

[2017-02-21 14:16] ldcouto commented on #203
#223 is fixed. Sadly, this error is still occurring. Uglify was not the problem.

[2017-02-21 21:02] CThuleHansen commented on #203
I have found the problem and fixed it in a local branch. Attempting to create a better solution for hte long run.. It is because some angular stuff created by rasmus silences errors.. Really annoying, took all today

[2017-02-22 09:20] #203 closed

[2017-03-06 13:01] lausdahl opened #224 "Setting the COE jar path has no effect"
It looks like the property for the COE path is no longer used

[2017-03-13 13:49] cfjkoenig opened #225 "Traceability graph is no longer shown"
I have downloaded the App (2.2.1 RC, Win64), all of a sudden, the traceability graph does no longer show anything, when I right-click on "traceability" and select "view traceability graph". It works fine with Version 2.1.10 RC.

In the <install_dir>, I have the "neo4j-community-3.1.1" folder, I use Windows 7 (64bit)

By the way: changing the port of the traceability daemon in the settings seems to

[2017-03-13 15:20] ldcouto commented on #225
Hi Christian,

What do you mean " no longer show anything" ?

I can see the browser, but the graph is empty (see attached)
![untitled](https://cloud.githubusercontent.com/assets/582801/23860987/84d04b00-0800-11e7-8e0d-f7c8f517ce64.png)

[2017-03-13 15:26] cfjkoenig commented on #225
Hi Luis,

I cannot even see this browser view, the panel is just empty. I have been in contact with @joshoell about this issue, and it turns out that Neo4J does not start on my machine with this RC. I can start in manually though (using the commands described in the wiki). The Neo4J DB seems to start for Jos from the App 2.2.1. RC though. (by the way, my system settings tell me that I have Java ve

[2017-03-13 15:37] ldcouto commented on #225
I know Jos did some tweaks to that, but I think it was only for Linux. In any case, can you try the latest build at http://overture.au.dk/into-cps/into-cps-app/master/Build-278_2017-03-13_14-30/ ?

[2017-03-22 10:13] lausdahl opened #226 "Change default project location used on Windows from `HOME\into-cps-projects` to `HOME\Documents\into-cps-projects`"
It is difficult to find the other folder in windows

[2017-03-22 21:51] ldcouto commented on #226
This is already possible in the settings. I assume you mean changing the default location, so I'm changing the title.

I actually prefer the Home folder, but I don't care either way.

[2017-03-22 21:52] ldcouto commented on #225
@cfjkoenig , is this occurring with the new release?

[2017-03-23 08:35] cfjkoenig commented on #225
@ldcouto : yes, I still have the same problem, @joshoell is currently working on ways to find the error; it seems that Neo4J is not starting correctly. I'll let you know once we found something.

[2017-03-24 10:53] Cien02 opened #227 "Crash at launch "A Javascript error occured in the main process""
I launched the COE (ans it says is running )but the "simulate" button was still disabled so i reload the view and the app just crashed. The following error always appear when i try to launch the app ever since:
![image](https://cloud.githubusercontent.com/assets/22459060/24291029/2a39d2ec-107f-11e7-86b0-08fdb38351aa.png)

I am working on windows 8.1 (64 bit) and originally used v2.2.0 of the INTO-

[2017-03-27 05:43] joshoell commented on #225
Fixed by commit 7bd486934e39b156b33108d1a95344891a694ea3

[2017-03-27 05:43] #225 closed

[2017-03-27 14:08] ldcouto commented on #227
Hi @Cien02

From the look of it, I'd say you have a corrupted settings file.

By default it is located at `Users\{USER}\AppData\Roaming\INTO-CPS APP\intoCpsApp\settings.json`

Can you try deleting this file and restarting the app?

[2017-03-30 11:30] Cien02 commented on #227
Hi @ldcouto

Deleting that file indeed fixed the issue, Thanks!

[2017-03-30 11:40] ldcouto commented on #227
Cool. Glad to hear it.

[2017-03-30 11:40] #227 closed

[2017-03-31 14:40] astefano opened #228 "[import example project] downloading dialog box"
Hi,

Just to note that if one imports a project already imported, the downloading dialog box doesn't close and the progress bar stays with 0%.

Cheers,
lacramioara

[2017-03-31 14:58] ldcouto commented on #228
Hi

Are you import the project to the same location?

[2017-03-31 15:00] astefano commented on #228
yep

On 31 March 2017 at 16:58, Luis Diogo Couto <notifications@github.com>
wrote:

[2017-03-31 15:11] ldcouto commented on #228
Odd. I cannot reproduce this. For me, the box closes after a few moments.

Can you give a bit more information about your system and app version?

[2017-04-03 07:55] astefano commented on #228
i run into-cps 3.0.0 on a windows 7 machine. i attach a screenshot with the
download box remaining open. but if people can't reproduce it, maybe it's
smth with my system. anyhow it's a very minor issue, feel free to close it
if it's of no importance to you.

On 31 March 2017 at 17:11, Luis Diogo Couto <notifications@github.com>
wrote:

[2017-04-03 08:09] CThuleHansen commented on #228
It seems like we have people encountering this issue every once in a while, but we have not been able to pinpoint the issue

[2017-04-03 10:47] astefano commented on #193
Hi,

i tried to redo my experiments with coe but i'm stuck. I tried both instructions, from the manual D4.2 and from the webpage http://into-cps.github.io/simulation/example.html. I'm on Windows 7 and run the commands from cygwin. First, i start coe with `java -jar coe.jar`. I get:
[code]

[2017-04-03 12:26] ldcouto commented on #228
I can't reproduce on MacOS.

On Win7 the git import always hangs at 0 for me, regardless of existing folders. But I think this is due to some local OS settings.

I think the best we can do right now is add a note to the known issues about the less-than-perfect state of the importer.

[2017-04-03 14:09] CThuleHansen commented on #228
Agreed

[2017-04-03 18:53] ldcouto commented on #193
The manual is updated more frequently.

The error from the first case means you do not have a file called `conf.json`

For the second, when you run the `createSession` do you get a reply with a number from the COE? It seems like the session is not being properly created.

Can you try running the COE on regular command line instead of cygwin?

[2017-04-03 19:34] ldcouto commented on #228
Wiki page updated. Archiving for now.

[2017-04-03 19:34] #228 closed

[2017-04-03 19:35] ldcouto commented on #191
Archiving for now. There are no resources to look at the importer at the moment. This is documented as a known issue in the release notes going forward.

[2017-04-03 19:35] #191 closed

[2017-04-04 08:36] astefano commented on #193
Hi Luis,

Yes, my bad, didn't pay attention the file is named config.json and not conf.json. Ok, so now that i corrected this, in both scenarios i get the `socket write error`.
Yes, `createSession` returns a sessionId:

`astefanoaei@fortiss-n-019 ~/coe/R_1-4-2017_12-26-52_PM`
`$ curl http://localhost:8082/createSession`
`{"sessionId":"2e4251ad-113c-48c1-b0fb-b10ff63e8547"}`

I've just tried runnin

[2017-04-04 16:52] ldcouto opened #229 "Proxy Support"
The download manager and examples importer don't work if we are behind a proxy (the Git importer works if the proxy is set in the .gitconfig).

Not having the download manager working behind a proxy is a real problem. It becomes a lot harder to run a co-simulation (you have to manually download, create the install folder, move the COE there and rename it). This takes away one of the biggest streng

[2017-04-04 18:09] ldcouto commented on #193
From the look of it, the json file isn't being processed correctly. Curl is trying to read the connection point from the json file.

Can you please repost the config.json file. Also, make sure your `sessionID ` variable is correct (you can use echo to view it)

[2017-04-05 10:03] astefano commented on #193
Hi,

Ok, so i finally understood i need to set the sessionId var myself...

Now, at command prompt i get:

`C:\Users\astefanoaei\home\coe\R_3-31-2017_4-41-56_PM>curl http://localhost:8082/
createSession`
`{"sessionId":"2ba00323-6ccd-4260-9cb1-e52130351717"}`

`C:\Users\astefanoaei\home\coe\R_3-31-2017_4-41-56_PM>set sessionId=2ba00323-6ccd
-4260-9cb1-e52130351717`

`C:\Users\astefanoaei\home\coe\R

[2017-04-05 10:33] ldcouto commented on #193
Hi,

Sorry you are struggling with this. Let's see if we can keep troubleshooting.

The first example is still not reading the configuration properly. If you look at ` curl: (6) Couldn't resolve host 'fmus:Controller:file' `, curl thinks the content of the json file is a URL. Obviously it's not.

The length of the simulation is configured in a json payload. Ex: `{"startTime":0,"endTime":1200,"logL

[2017-04-05 10:59] astefano commented on #193
Thanks a lot Luis, i understand now that the simulation takes a json file different from the initialisation.
Great, this solves my problem, i get what i want. Now let's try the distributed version :).

Please feel free to close this "issue".

Thanks again,
l

PS
There's a typo in the manual, pg 34 in D4.2, the command:
`curl -H "Content-Type: application/json" --data @coeconf.json http://localhost

[2017-04-05 11:03] ldcouto commented on #193
Great to hear you are sorted. Good luck with the distributed stuff -- feel free to open another issue if you need help with that.

Thanks for spotting the typo in the manual. We'll take care of it.

[2017-04-05 11:03] #193 closed

[2017-04-28 10:38] idhugo opened #232 "Clicking on the download manager "Release: 0.0.12" entry no overview appears"

[2017-05-01 21:38] #173 closed

[2017-05-03 13:08] lausdahl commented on #229
I think all downloads happen in this file https://github.com/into-cps/intocps-ui/blob/master/src/downloader/Downloader.ts it was @afterkelsen who wrote it, but I dont know how proxies should be configured for it

[2017-05-03 13:11] lausdahl commented on #202
We cannot do much since it crashes in C destroying the complete program so we have no way to report anything.

[2017-05-03 13:21] ldcouto commented on #202
Alright, thanks. Closing this.

Still a good limitation of FMI to have captured.

[2017-05-03 13:21] #202 closed

[2017-05-08 16:16] ldcouto commented on #232
Yeah, the json file for 0.0.12 is broken. @etiennebrosse seems like it was your commit eb519e0be8a7d34456e3680a3b14d40c8047e3f4 that did it.

I ran the json file through https://jsonlint.com/ and it found an error, though I can't make much sense of it. Can you take a look?

[2017-05-08 16:28] ldcouto commented on #229
Hmm. While mucking about with this, I've found a way to pass the proxy settings to the app. It's script based, but works (for reference you must have the HTTP_PROXY env var set, even on Windows).

I think I  will document that in the Wiki and be done with it.

[2017-05-09 11:52] cabralfortiss opened #235 "Instance is not saved when single FMU has no connection"
I tried to test a single FMU with one output. Of course, the output is not connected to anywhere, but I'd to see its behavior. Unfortunately, in the Configuration in the Multimodel tab, the instance of the FMU is not saved, and therefore I cannot simulate it.

I added a dummy input to the FMU, and connected the output to it, and then the instance is saved.

[2017-05-09 12:38] ldcouto commented on #235
Confirmed.

@CThuleHansen can you take a look?

[2017-05-09 12:44] lausdahl commented on #235
The COE is for co-simulation not for FMU testing. Use the https://trac.fmi-standard.org/browser/branches/public/Test_FMUs/Compliance-Checker for this.

You need at least two instances to perform a co-simulation and at least one output and the instances must be connected. The app may have some limitations where it does not let you create multiple instances of the same FMU to each other (although th

[2017-05-09 12:45] CThuleHansen commented on #235
I will look into the app

[2017-05-09 12:54] cabralfortiss commented on #235
But I don't want to check my FMU, I want to simulate it. Wouldn't it be nice if the co-simulator COE also works as just a simulator? What would be the problem for the COE to co-simulate the FMU with nothing else?

[2017-05-09 13:15] CThuleHansen commented on #235
This issue is related to the way instances are modelled. Instances exists as part of connections, as they otherwise make no sense in a Co-Simulation. Therefore an unused instance is removed.

[2017-05-09 13:17] ldcouto commented on #235
Alright. It's not worth changing the project model.

Best I can do is suggest the following obvious workaround:

To simulate a standalone FMU, just create a second dummy FMU to absorb (and ignore) output signals.

[2017-05-09 13:31] cabralfortiss commented on #235
If is not technically a bug, and it would require a big change, I'll keep with the workaround. Thanks!

[2017-05-09 13:33] ldcouto commented on #235
Cool, thanks for your understanding.

[2017-05-09 13:33] #235 closed

[2017-05-09 16:18] ldcouto commented on #229
Updated releases notes. That will have to suffice for now.

[2017-05-09 16:18] #229 closed

[2017-05-09 16:19] ldcouto commented on #226
@lausdahl status on this?

[2017-05-10 09:35] lausdahl commented on #226
I just raised the issue because I noticed that its not easy to reach this location through the finder in Windows. I'm not using Windows my self.

[2017-05-10 09:50] ldcouto commented on #226
Folder Switched. Can you check `ldc/226` and see if it's still fine on Mac?

[2017-05-10 12:08] lausdahl commented on #226
Would it be bad only to change the location for windows. I also prefer the $home location on *nix systems.

[2017-05-10 13:46] ldcouto commented on #226
Pushed new change. Should work on windows only now. Can you please check?

[2017-05-10 14:29] kgpierce opened #236 "Values of boolean parameters are always resets to true"
When I try to set "DE_ONLY" to false (see image below) it is always automatically changed to true when focus is lost.

![image](https://cloud.githubusercontent.com/assets/5968335/25903722/2bf23cba-3595-11e7-806c-5dfd5990a449.png)

[2017-05-13 16:08] #226 closed

[2017-05-14 14:02] ldcouto commented on #218
Migration complete.

@CThuleHansen @FlorianLapschies , do you mind checking out and building `ldc/218` and checking that everything works well for you? You may have to manually delete the typings folder before building.

[2017-05-14 14:07] ldcouto commented on #236
Where is this dialog? FMU parameters?

[2017-05-15 13:22] ldcouto commented on #218
Switching to a PR: #238

[2017-05-17 07:59] CThuleHansen commented on #229
Good job!

[2017-06-19 10:51] ldcouto opened #241 "Add links to help videos"
Videos are being produced in the project (https://www.youtube.com/channel/UCHfzhFYht6sKiqarjqbmtaQ)

Add a n entry in the help menu to show the help videos.

[2017-06-21 07:32] avh-agrointelli opened #242 "DSE download error"
I encountered an error when trying to download the Design Space Exploration - Scripts for generating and analysing multiple co-simulations (0.2.0) from the download manager.

The error says:
Invalid Checksum
Bad MD5 expected: 'a7c916f74981e526bcbc9dc22d9898aa' got: 'dabf7b8cc338587bf8ad11ba6317e415'

Is it maybe because of my internet connection?

PS: attaching files does not work neither from the

[2017-06-21 10:03] ldcouto commented on #242
The checksum in the current version of the DSE download is incorrect.

The fix should come online later today when the new bundle comes out.

[2017-06-21 10:03] #242 closed

[2017-06-21 10:05] ldcouto commented on #241
Basic feature is implemented (see below).

@kgpierce , I understand you have plans to build some demo videos? Can you let me know when they are up on youtube so I can connect them to the app.

![vids](https://user-images.githubusercontent.com/582801/27378927-520ad70c-5671-11e7-97a3-2b0ffba1a425.png)

[2017-06-21 11:26] lausdahl commented on #224
https://github.com/into-cps/intocps-ui/blob/master/src/coe-server-status/CoeServerStatus.ts#L97

[2017-07-06 07:21] lausdahl opened #243 "Issue with launching the COE when using one-drive profile location"
We experienced a problem with the launch of the COE on a windows 10 with the user profile on one-drive. The language was set to russian so the error message about launch error also included a lot of `?????` instead of the russian encoded user name.

[2017-07-06 08:03] lausdahl commented on #243
Changing install temp dir to only have latin characters fixed this

[2017-07-07 11:26] kgpierce opened #244 "UI issues and enhancements based on training sessions"
- [ ] Java 1.8 required (COE, Modelio, Overture) and needs to match 32-/64-bit
- [ ] VC++ run-time 2013 (old 3D FMU)
- [ ] Overture NullPointer when double launched after COE crash
- [ ] Line-follower naming in SysML (lf looks like if / it)
- [ ] If Modelio exports with an extra unconnected instance and this is deleted in the App then it doesn't save
- [ ] Deleting sensor2 block and remaking it (l

[2017-07-10 07:21] lausdahl opened #245 "Problematic traceability integration when working with multiple branches and inconvenient when using INTO-CPS for co-sim only"
During the summer school in Sibiu we discovered that the traceability implementation is partly not wanted for visitors that are only interested in co-simulation, and the current implementation does not make it easy to disable it.

Furthermore, the current implementation does not work when using git with more than one branch since the database does not merge or diff. A simple illustration of this i

[2017-07-10 12:44] ldcouto commented on #245
@mi-hofmann is the new developer from TWT on traceability. Hopefully he can comment on this.

I support disabling traceability by default, especially since it requires Neo4J. Can we do this immediately? PR #246 seems like a good place

The other features, we need to think more on.
* I recall we decided that multi-user traceability was out of scope.
* A visual indicator is certainly useful, but I'd

[2017-07-10 13:21] CarlGamble commented on #245
I also think disabling traceability by until it is more stable/complete could be  a good idea.

[2017-07-10 17:10] lausdahl commented on #245
Concerning: "I recall we decided that multi-user traceability was out of scope." then the issue here is that a single user also gets into trouble if he works with multiple branches which is kind of expected since we use git

[2017-07-11 09:05] ldcouto commented on #245
I guess that's a valid point, but the explicit version control of Git branches should not be getting tangled up in the traceability DB.

Maybe the use of Git needs to be rethought?

[2017-07-13 12:41] lausdahl opened #247 "COE post script execution does not work if there is a space in the script path"

[2017-07-13 12:48] avh-agrointelli opened #248 "COE launches automatically before I want it to"
_For INTO-CPS App latest version (v3.1.2-rc) for Windows x64_

I'm try to configure a DSE in the INTO-CPS App, and the COE launches automatically before I want it to, even after restarting the App. Because of this (I think) the multi-model cannot be saved and consequently the DSE config cannot be loaded and parsed.
Is it something I'm doing wrong or a bug?

[2017-07-13 15:02] CarlGamble commented on #248
Yes, there is a bug where the DSE screens don't let you save your multi-model configuration choice if the COE is already running.  Until that bug is fixed, the workaround is to shut down the coe before trying to configure and launch a DSE.  This may be achieved in two ways.
1.  There is a blue gear like icon in the windows system tray.  Right clicking on this should bring up an option to shut down

[2017-07-14 06:33] avh-agrointelli commented on #248
Thank you. Option 1 didn't work, but 2 did :)

[2017-07-14 17:54] lausdahl opened #251 "Open Project emit error"
I often get this error when I open projects. I do not know how to provoke it:

![image](https://user-images.githubusercontent.com/2575418/28224112-2a2dcde2-68ce-11e7-9c33-ef60923dbb9d.png)

[2017-07-14 21:14] ldcouto commented on #251
I have never seen this error, either on Mac or Windows. Is the project folder missing or something?

[2017-07-16 18:58] lausdahl commented on #251
Happens quite often for me. Played a bit with it and it happened at least every 3-4 times and once it’s there it required a restart of the app to get rid of it.

I checke the project and all is ok at the file level.

Regards,

Kenneth Lausdahl
kenneth@lausdahl.com

[2017-07-17 07:24] ldcouto commented on #251
Hmm. Does it happen in the packaged app, npm version or both?

[2017-07-18 08:15] lausdahl commented on #251
both

[2017-07-18 08:21] ldcouto commented on #251
good. I mean, in a sense that it's a code issue.

Have you ever seen this error on Win or Linux?

[2017-07-18 22:15] lausdahl commented on #251
I dont remember. But it also seen it on mac during project creation, which makes sense since it opens the project right after creation.

[2017-07-19 09:49] ldcouto commented on #251
Ok...

I'm not sure what we can do for now except try to isolate it. Let's see if anyone else has experience this error.

L

[2017-07-21 08:50] lausdahl opened #252 "New multi model name suggestion does not suggest valid name"
The new dialog always shows the same name even when this one already exists. This should be change to show a valid available name.

[2017-07-24 14:18] ldcouto commented on #158
I'm closing this issue. It's been months and no further news. Reopen if still a problem.

[2017-07-24 14:18] #158 closed

[2017-07-25 07:18] #252 closed

[2017-07-26 14:12] kgpierce opened #254 "FMU builder doesn't load / certificate error"
It looks like the FMU builder has a problem with its certificate? In the App this leads to a blank pane, but in Chrome I can navigate to https://sweng.au.dk/fmubuilder and add a security exception, then it works fine.

Not sure if this is just on Newcastle campus or a wider problem.

[2017-07-26 14:32] ldcouto commented on #254
Can confirm the same error shows up here.

[2017-07-26 15:27] kgpierce commented on #254
Chrome says NET::ERR_CERT_DATE_INVALID.

[2017-07-30 23:01] lausdahl opened #255 "The `Create Co-Simulation Configuration` option does not behave like `New Multimodel` it creates a random name"
I would propose that the `Create Co-Simulation Configuration` and `New Multimodel` has the same behaviour. It seems odd that one asks for a name while the other one generates a random name without asking.

See https://github.com/into-cps/intocps-ui/pull/253#pullrequestreview-53108418 for the corrected behaviour of the new multimodel

[2017-08-02 07:09] gmeisl-twt opened #257 "Return value from "simulate""
According to its API documentation, the COE returns a json with the content {"status":"simulating", ...} when it receives a "simulate" command.
In my case the COE only replies when the simulation is done and then returns the status "Finished".
Please update the documentation (if possible please also add how one can get the COE to return the "simulating" message immediately, not waiting for the sim

[2017-08-03 09:22] #255 closed

[2017-08-10 12:09] lausdahl commented on #257
I will update the documentation. You should be able to call the status command to get the current status of a simulation.

[2017-08-10 12:11] lausdahl commented on #254
Yes I did not manage to install the new one before I vent on vacation all domains should be updated now

[2017-08-10 12:11] #254 closed

[2017-08-11 08:48] lausdahl commented on #192
I'm closing this since no further information has been received. If we get the information then the issue can be re-opened.

[2017-08-11 08:48] #192 closed

[2017-08-11 08:51] lausdahl opened #258 "Enable any output or local variable to be included in the outout csv file from a simulation"
The COE already supports this using the `logVariables` element. The implementation should be the same as for log variables.

[2017-08-11 09:09] lausdahl commented on #236
The is a parameter for an FMU. Scalar variable example:

[code]

[2017-08-11 09:21] lausdahl opened #259 "Show parameters in MM as a tree overview when not editing"

[2017-08-12 09:27] #224 closed

[2017-08-14 08:42] #236 closed

[2017-08-14 18:09] #247 closed

[2017-08-14 18:09] #258 closed

[2017-08-14 18:10] lausdahl commented on #257
this is fixed in next COE release version `0.2.12`

[2017-08-14 18:10] #257 closed

[2017-08-16 09:41] ldcouto commented on #245
From today's discussion:
* we store one file per message in order to ensure smooth merging
* we need to inform users to reload the traceability DB when they switch branches. To help with this, we'll provide a `Reload Project` button.

[2017-08-21 10:45] ldcouto opened #263 "Better documentation of user settings"
The settings page has a growing number of options. These are not documented at all. There are various paths that must be set where it's not clear what the path should be

At a minimum, these options should be explained in the manual. I'd also like for the path-based stuff to go from text box to file browser dialog.

[2017-08-22 15:00] ldcouto opened #265 "Cannot rerun co-sims on changed multimodels"
I guess this is related to the "validity" of co-sims feature (maybe #222)

But this implementation is too restrictive. We can flag the results as invalid/issue a warning but forcing users to create a new co-sim every-time they change a multi-model is too restrictive. Especially because we can't duplicate co-sims so there is lots of re-clicking.

This feature needs to be disabled

[2017-08-22 22:29] ldcouto commented on #265
That is definitely not the case. It prevents launching co-sims.

[2017-08-22 22:35] ldcouto commented on #265
We can either merge #266 or update the error message to explain how to regenerate the checksum. But right now, it's very unintuitive behavior.

[2017-08-23 05:43] lausdahl commented on #265
It was implemented to prevent co-simulations if the multi model changed since a change here should be done in Modelio and then re-exported to the app as a new multi-model (except for the selection of the FMUs). With this in mind I think updating the error message might be best.

I understand why you want this disabled since your workflow is based on a standard iterative development workflow (which

[2017-08-23 08:41] ldcouto commented on #265
Thanks.

I think it's not worth the discussion. I'll just update the error message.

[2017-08-25 10:08] lausdahl commented on #243
It is possible to specify the coe.jar location which can be used as a workaround for this issue. So we wont fix this.

[2017-08-25 10:08] #243 closed

[2017-08-25 10:10] lausdahl commented on #232
I'm closing this since it appears to be fixed the expected list of downloads are shown in the app for 0.0.12 now

[2017-08-25 10:10] #232 closed

[2017-08-25 10:12] lausdahl commented on #212
What release bundle is this?

or is this no longer relevant if so please close the issue.

[2017-08-25 10:14] lausdahl commented on #201
@etiennebrosse any news? otherwise close the issue with a description of the state and workaround or solution.

[2017-08-25 10:59] ldcouto commented on #218
This has been done for a while now.

[2017-08-25 10:59] #218 closed

[2017-08-25 11:12] #265 closed

[2017-08-28 07:34] gmeisl-twt opened #269 "Stop Simulation when Signal exceeds given value"
It would be nice if the COE could stop the simulation when a user selected signal exceeds a specified value.
In our case we want to simulate a car drving a given route, but do not know how long it takes to cover this route. Currently we just simulate for a long time, however having a built-in option to stop on reaching the target (i.e. when a signal we can provide reaches or exceeds the value of 1

[2017-08-28 08:28] ldcouto commented on #269
@lausdahl is this something we can consider in the scope of INTO?

[2017-08-28 08:37] lausdahl commented on #269
Yes. There were a similar feature request in DESTECS (Crescendo) when this project was running. May I suggest to rais a requirement for this submitted based on knowledge from a case study.

The question is how to realise it. Naturally this leads to the discussion about the scripting language, so you can use expressions to describe when a stop should happen. The easy solution is to add the name of

[2017-08-28 08:42] gmeisl-twt commented on #269
I think for many use cases your suggestion to give a range (where one can put values or signals) would do the job.
If more complicated expressions would be required it would also be possible to do such calculations within an FMU, which then again generates a signal which is simple to evaluate.

[2017-08-28 08:43] tfabbri opened #270 "unzip of the FMU does not maintain the permissions"
I noted that during the unzip of the FMU, the unzipped directory does not maintain the permissions of the contained files.
More precisely, the FMU that I am working with contain a separate executable that when unzipped under `/tmp/` has lost the `x` permission. Without the correct permissions I am not able to run correctly the co-simulation.

[2017-08-28 12:22] #245 closed

[2017-08-28 12:23] ldcouto commented on #251
This seems to have gotten worse recently, whether due to to #267 or something else.

@lausdahl your idea to work around it seems good.

[2017-08-28 12:25] etiennebrosse commented on #212
Fixed in https://github.com/into-cps/into-cps.github.io/commit/a15d9ab77a5787f61332b67c72ee7805c52ca8c0
tested under Windows 64

[2017-08-28 17:36] ldcouto commented on #212
Great.

[2017-08-28 17:36] #212 closed

[2017-09-01 10:04] tfabbri commented on #270
With the last snapshot of the  `coe` the issue is solved for linux-32bit

[2017-09-04 12:23] cfjkoenig opened #272 "Show comments for signals and parameters in App at mouse-over"
It would be nice to display the Annotations (from the ModelDescripton.xml) to signals or parameters at MouseOver in the App / Multi-model, if they are available. This could be an enhancement to the INTO-CPS app.

[2017-09-07 07:54] gmeisl-twt opened #273 "Warning on unconnected inputs"
I think it would be good if there was a warning (maybe also directly from the COE), if there are inputs which are not connected to any output signal and for which then default values are used.

[2017-09-11 11:24] #251 closed

[2017-09-11 11:47] CThuleHansen opened #274 "radiobuttons for Order in constraint for co-sim is connected to all others as well"

[2017-09-12 12:51] ldcouto commented on #273
Similar feature requested in #179

It's a good idea, but out of scope for the project. Archiving for future reference.

[2017-09-12 12:51] #273 closed

[2017-09-12 12:59] ldcouto commented on #272
What Annotations do you mean, can you give an example?

Maybe it's my FMUs but here is a parameter entry. I don't see anything that's really useful to show.
[code]

Do you mean vendor annotations (see below) They don't seem very useful.
[code]

[2017-09-12 13:00] ldcouto commented on #269
@lausdahl will you guys pursue this or should I archive the enhancement?

[2017-09-12 13:27] cfjkoenig commented on #272
Yes, an example would be in the ModelDescription.xml:

<ModelVariables>
	</ScalarVariable>
	  <ScalarVariable name="pAtm" valueReference="7" description="height, used as state"
                  causality="output" variability="continuous" initial="exact">
</ModelVariables>

The "description" an optional attribute. Its described in the FMI 2.0 standard on page 45&46.

[2017-09-12 14:18] ldcouto commented on #272
I see. I think this is a relatively low value feature. Not all exports have descriptions and I don't see other entries that are very useful to show.

[2017-09-13 06:41] cfjkoenig commented on #272
I agree that it is probably not the highest priority. It is rather an idea for an enhancement which we wanted to document somewhere, and the issue tracker seemed like the natural choice for this.

[2017-09-13 08:10] ldcouto commented on #272
Yes, thank you for adding it.

We have a milestone for exactly these suggestions. I will archive this there.

[2017-09-13 08:11] #272 closed

[2017-09-15 13:42] ldcouto opened #275 "DSE Parsing error when selecting Multi-Model"
When selecting and setting a multi-model, nothing happens. There is some parse error under the hood that creates a `undefined`  configuration as seen in the error text below:

This bug is very inconsistent. For some cases, it happens for all projects. In others, only some DSE configs run. Tested with both LFR and HVAC case study.

[code]

[2017-09-19 08:55] CThuleHansen commented on #274
Fixed in 6b170db81cc8b5614af9e9f02deeca0b2d192763

[2017-09-19 15:32] lausdahl commented on #270
this is fixed in coe 0.2.14 which is in the dev bundle now and will be released soon. Just switch to development mode to use it.

[2017-09-19 15:32] #270 closed

[2017-09-20 07:56] #274 closed

[2017-09-27 07:40] bandurvp commented on #263
Hi @ldcouto , is it OK if I change the setting names containing underscores to something nicer, like the RT-Tester ones?

[2017-09-27 08:10] ldcouto commented on #263
In the view? Go right ahead, as long as those names aren't being used for lookups or something

[2017-09-27 08:14] ldcouto commented on #263
And please use the branch from #263 so we coordinate everything there.

[2017-09-27 17:02] lausdahl commented on #263
@bandurvp be careful because what you see there is the actual keys so do not change these it breaks backwards compatibility with old workspaces. If you want to then implement a function that beautifies the key names and use it for display. It might be good to keep the key name visible for reference with the `settings.json`

[2017-09-28 06:13] bandurvp commented on #263
@ldcouto , @lausdahl I had started out by documenting these in the user manual, but the help popup approach is easy to understand for the user and I don't think anything further is required in the user manual.  I'll just try to do the beautification instead.

[2017-09-28 07:13] ldcouto commented on #263
Sounds good. Just mention the help popup in the user manual

[2017-09-28 12:05] lausdahl opened #281 "DialogHandler error"
![image](https://user-images.githubusercontent.com/2575418/30965539-07fd8500-a456-11e7-9667-cfaf693ef3c6.png)

[2017-09-28 12:26] #281 closed

[2017-10-02 13:43] #263 closed

[2017-10-12 08:16] gmeisl-twt opened #284 "Error message on connection to "unconfirmed" input"
When a connection to a nonexistent INPUT signal is found, the error message talks about the usage of the unconfirmed output signal:

![grafik](https://user-images.githubusercontent.com/25317386/31485991-26a011c2-af36-11e7-952a-4cca23889754.png)

[2017-10-16 09:49] CThuleHansen opened #285 "callback error when reloading"
EXCEPTION: Error: Could not call remote function ''. Check that the function signature is correct. Underlying error: Attempting to call a function in a renderer window that has been closed or released. Function provided here: CoeServerStatusUiController.js:146:21.
Error: Could not call remote function ''. Check that the function signature is correct. Underlying error: Attempting to call a function

[2017-10-16 10:40] #285 closed

[2017-10-17 09:37] #284 closed

[2017-10-17 19:03] lausdahl opened #286 "Relative tolerance for bounded difference is not working"

[2017-10-17 19:03] #286 closed

[2017-10-18 08:39] gmeisl-twt opened #287 "Multiple Signals connected to same Input"
It is possible to connect multiple outputs to the same Input, resulting in undefined behaviour.

![grafik](https://user-images.githubusercontent.com/25317386/31708900-a4143cd2-b3f0-11e7-8fe8-358eb0638770.png)

[2017-10-24 11:43] lausdahl opened #288 "Filter ports for bounded difference"

[2017-11-01 10:30] lausdahl opened #289 "Graph plotting sometimes stops before end time"
If I run simulations of the single watertank with coe 0.2.18 then I sometimes gets this:

![image](https://user-images.githubusercontent.com/2575418/32270911-065e9b14-bef8-11e7-9c3a-012ddf093614.png)

I added debug info on WS receive and it gets the data as shown end time is 10

[2017-11-03 07:28] gmeisl-twt opened #290 "Live Plotting in external Window does not work"
When I activate the option to show a Plot in an external window the plot is empty most of the times.

![grafik](https://user-images.githubusercontent.com/25317386/32363664-b83bb1d6-c070-11e7-947e-a9ea6e658ab0.png)

[2017-11-13 12:23] lausdahl opened #291 "Bad handling of missing binaries"
A folder fmu with no binaries folder results in this error in the console log:

[code]

[2017-11-13 12:48] lausdahl opened #292 "COE Configuration view does not display the correct name path in the heading"

[2017-11-13 12:58] #291 closed

[2017-11-13 12:58] #292 closed

[2017-11-13 14:00] ldcouto opened #293 "COE log override no longer prints to command line"
Consider the config below:

![untitled](https://user-images.githubusercontent.com/582801/32729047-704f18ec-c87a-11e7-8af0-19bf4eafcf3d.png)

If this is executed with a COE launched by the command line, then only warnings or higher get printed.

![untitled](https://user-images.githubusercontent.com/582801/32729205-e422ef46-c87a-11e7-9e5e-14d7f5553bc5.png)

It works normally for COEs launched from w

[2017-11-13 14:20] CThuleHansen commented on #290
Should be fixed in a04cd27602f316dbc058bd1fb8ad78f8d9608405

[2017-11-13 14:20] #290 closed

[2017-11-13 14:20] CThuleHansen commented on #289
Fixed in 70ca181a7912b987d365f6821e4d25881c9c35e5

[2017-11-13 14:20] #289 closed

[2017-11-14 08:19] lausdahl commented on #293
This happens as a side effect of the optimisation of the integration into App. All the information is included in coe.log.

[2017-11-14 08:23] lausdahl opened #294 "Traceability daemon does not start if network adaptor disconnected"
[code]

Reported by Christian König

[2017-11-14 08:35] ldcouto commented on #293
Does that mean this cannot be fixed?

[2017-11-14 08:38] lausdahl commented on #293
yes we cannot both have it print and filter. So the log levels you add here are also overriden and the output is shown in the coe.log file.

There is a filter applies in the log4j.properties in the COE if you delete the filter it works like before. But then both consoles in the app will show the same.

[2017-11-14 08:42] ldcouto commented on #293
meh. This is annoying, cause the coe.log has info from multiple runs. But if it's not possible, I'll live with it.

[2017-11-14 08:42] #293 closed

[2017-11-14 11:07] CThuleHansen opened #295 "Non-complianat with node 8+"
https://stackoverflow.com/questions/44298322/node-8-0-0-and-npm-4-2-0-error-express-load-require-extensions-hasownproperty-is

[2017-11-14 12:53] #287 closed

[2017-11-14 16:15] joshoell commented on #294
Hi Kenneth,
What do you mean by 'network adaptor disconnected'?

[2017-11-15 08:29] ldcouto commented on #295
We are technically still recommending v6, it's still under active LTS.

I don't want to force everyone to change environments, at least before the last release.

Can you investigate this issue in the meantime? If you can make a backwards-compatible fix, that'd be perfect.

[2017-11-17 10:17] lausdahl commented on #294
yes

Regards,

Kenneth Lausdahl
kenneth@lausdahl.com

[2017-11-17 12:30] joshoell commented on #294
Hi Kenneth,
can you tell me what exactly you ment be some disconnected network adapter? How can I disconnect what?
Thanks,
Jos

[2017-11-17 14:14] lausdahl commented on #294
the issue was reported by Christian König but if you disable your network adaptors then neo4j cannot start.

Pull out all your network cables and disconnect from all wifi networks and try to start neo4j then it never starts.

I just created the bug after confirming that it also happened for me too.

Regards,

Kenneth Lausdahl
kenneth@lausdahl.com

[2017-11-17 15:15] joshoell commented on #294
Ok, this sounds like a neo4j bug. Does it happen if you start neo4j by hand as well?

[2017-12-05 13:10] ldcouto opened #296 "configurable NEO4J port (instead of hard-coded 7474)"
The traceability does not work if port 7474 is already occupied.

Starting the NEO4J server manually on a different port (17474) works, but then the Traceability Daemon does not connect to it, because port 7474 seems to be hard coded. The port must be made configurable (in the "Settings").

[code]

[2017-12-08 08:03] lausdahl opened #297 "Live plotting not working in Mac High Sierra"
The plot is just empty nothing happens, but it is shown with the right scale on the axis.

[2017-12-08 13:13] joshoell commented on #296
Good idea. We can simple make the port configurable. Unfortunately I do not have the time to implement that this year.

[2017-12-08 13:14] ldcouto commented on #296
Alright, I'll move this to the enhancements archive.

[2017-12-08 13:14] #296 closed

[2017-12-12 14:06] cfjkoenig opened #298 "Traceability enhancements and fixes"
This shall be a "living" list of things that can be added or improved with respect to traceability in the INTO-CPS tool-chain:

Improvements:
- Trace DSE

Fixes:
- make sure the tools report messages that are consistent with the ontology

[2017-12-13 09:14] FlorianLapschies opened #299 "VSI Toolchain does not support disabling traceability"
The INTO-CPS application allows to disable traceability in the user settings. This user setting is forwarded to the VSI scripts using the environment variable OSLC_ENABLED. However, this variable is not yet read and traceability is enabled unconditionally.

[2018-01-04 11:43] CThuleHansen opened #300 "Daemon - Express - TS2312: An interface may only extend a class or another interface."
When building the into-cps application using gulp, the following error is encountered:
[code]
I believe it can be solved by updating the typescript plugin as discussed here: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/21140